@font-face {
	font-family: "FZXiJinLJW";
	src: url(http://cdn.rumorsame.top/FZXiJinLJW.ttf) format("truetype")
}

* {
	margin: 0;
	padding: 0;
	font-family: FZXiJinLJW;
	text-decoration: none;
	/* color: rgb(46, 46, 46); */
	color: #FFFFFF;
	outline: none;
}

body {
	background-color: #000000;
	margin: 0;
	padding: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
}

ul {
	list-style: none;
}

hr {
	position: relative;
	left: 20%;
	width: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#h3 {

	font-size: 24px;
}

#h2 {

	font-size: 36px;
}

#h1 {

	font-size: 48px;
	font-weight: bolder;
	padding: 3px;
	border-radius: 10px;
	display: inline-block;
	text-shadow: 1px 1px 1px gray;
	color: #FFF;

}

#canvas {
	position: fixed;
	background: #ccc;
	overflow: auto;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#temp {
	padding-top: 20px;
	width: 100%;
	text-align: center;
}

#features {
	text-align: center;
}

#ahref {

	font-size: 24px;
	padding: 3px;
	border-radius: 10px;
	display: inline-block;
	border: 0px #000 solid;
	background-color: red;
	color: #FFFFFF;
}

#ahref:hover {

	background-color: red;
	color: #FFFFFF;
	-webkit-animation: toHover 0.2s infinite;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes toHover

/*Safari and Chrome*/
	{
	0% {
		transform: scale(1);
		/*开始为原始大小*/
	}

	100% {
		transform: scale(1.1);
	}

}

@-webkit-keyframes toHover2

/*Safari and Chrome*/
	{
	0% {
		transform: scale(1);
		/*开始为原始大小*/
	}

	100% {
		transform: scale(0.96);
	}

}

#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	font-size: 20px;
	text-align: center;
}

/* #Record {
	padding: 3px;
	border-radius: 10px;
	display: inline-block;
	border: 0px #000 solid;
	background-color: red;
	color: #FFFFFF;
} */

#color-name-l {
	position: absolute;
	font-size: calc(100px);
	left: 5%;
	top: 5%;
	color: rgba(255, 100, 100, 0.7);
	opacity: 1;
	writing-mode: vertical-rl;
	white-space: nowrap;
	display: inline-block;
	transform: translate(10%, -5%);
	-webkit-animation: fadeOut 7s ease;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	cursor: default;
}

#color-name-r {
	position: absolute;
	font-size: calc(100px);
	right: 5%;
	top: 5%;
	color: rgba(255, 100, 100, 0.7);
	opacity: 1;
	writing-mode: vertical-rl;
	white-space: nowrap;
	display: inline-block;
	transform: translate(10%, -5%);
	-webkit-animation: fadeOut 7s ease;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	cursor: default;
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

#no404 {
	position: absolute;
	top: 20%;
	font-size: 72px;
	text-align: center;
	height: 50%;
	width: 100%;
}

#meserach {
	width: 60%;
	position: absolute;
	left: 20%;
	bottom: 60%;
	font-size: 20px;
	text-align: center;
	height: 40px;
}

#search-inp {
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	width: 40%;
	display: inline-block;
	line-height: 36px;
	height: 36px;
	color: #FFFFFF;
	padding-left: 12px;
	padding-right: 75px;
	font-size: 20px;
	border-radius: 36px;
	border: 1px #808080 solid;

}

#search-inp:hover {}

#search-btn {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	line-height: 36px;
	height: 36px;
	width: 10%;
	border-radius: 36px;
	border: 0px;
}

#search-btn:hover {
	border: 1px #F00 solid;
	-webkit-animation: toHover2 0.2s infinite;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;

}

#load {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #242424;
	z-index: 1001;
}

#loadtext {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FF0000;
	z-index: 1001;
}

.loadbar {
	position: relative;
	top: 50%;
	left: 47%;
	width: 6px;
	height: 30px;
	background: #FFFFFF;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 2s ease-in-out infinite;
}

.bar1 {
	animation-delay: 0.1s;
}

.bar2 {
	animation-delay: 0.2s;
}

.bar3 {
	animation-delay: 0.3s;
}

.bar4 {
	animation-delay: 0.4s;
}

.bar5 {
	animation-delay: 0.5s;
}

.bar6 {
	animation-delay: 0.6s;
}

.bar7 {
	animation-delay: 0.7s;
}

.bar8 {
	animation-delay: 0.8s;
}

.bar9 {
	animation-delay: 0.9s;
}

.bar10 {
	animation-delay: 1s;
}

.bar11 {
	animation-delay: 1.1s;
}

.bar12 {
	animation-delay: 1.2s;
}

@keyframes loading {
	0% {
		transform: scaleY(0.1);
		background-color: #FFFFFF;
	}

	50% {
		transform: scaleY(1);
		background-color: #F00;
	}

	100% {
		transform: scaleY(0.1);
		background: transparent;
	}
}

#msec-btn {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	line-height: 18px;
	height: 18px;
	width: 50px;
	border: 1px #808080 solid;
	border-radius: 36px;
	position: absolute;
	right: 27%;
	top: 25%;
}

#msec-btn:hover {
	border: 1px #F00 solid;
	-webkit-animation: toHover2 0.2s infinite;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;

}

#msec {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
	border: 1px #808080 solid;
	margin-left: 5px;
	width: 80px;
	z-index: 999;
}

#msec li {
	border: 1px rgba(0, 0, 0, 0) solid;
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	height: 20px;
}

#msec li:hover {
	border: 1px #F00 solid;
	background-color: rgba(0, 0, 0, 0.9);
}

#msec a {
	display: inline-block;
	font-size: 16px;
	width: 100%;
}

#update {
	font-size: 22px;
	padding: 4px;
	border-radius: 11px;
	display: inline-block;
	background-color: #F00;
	color: #FFFFFF;
}

.shici {
	font-size: 36px;
	position: absolute;
	top: 50%;
	width: 80%;
	left: 10%;
	display: inline-block;
	text-align: center;
}

.sidebar {
	z-index: 1000;
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background-color: #042331;
	transition: all .4s ease;
}

.sidebar header {
	font-size: 20px;
	color: #FFF;
	text-align: center;
	line-height: 70px;
	background-color: #063146;
	user-select: none;
}

.sidebar ul a {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 18px;
	color: #FFFFFF;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid #000;
	transition: .4s;
}

.sidebar ul li:hover a {
	padding-left: 50px;
}

.sidebar ul a i {
	margin-right: 16px;
	font-size: 24px;
}

#check {
	display: none;
}

label #sidebtnshow,
label #sidebtnhide {
	position: absolute;
	cursor: pointer;
}

label #sidebtnshow {
	left: 19px;
	top: 19px;
	font-size: 30px;
	color: #FFFFFF;
	padding: 6px 12px;
	transition: all .4s;
}

label #sidebtnhide {
	z-index: 1111;
	left: -200px;
	top: 19px;
	font-size: 30px;
	color: #FFFFFF;
	transition: all .4s ease;
}

#check:checked~.sidebar {
	left: 0;
}

#check:checked~label #sidebtnshow {
	left: 250px;
	opacity: 0;
	pointer-events: none;
}

#check:checked~label #sidebtnhide {
	left: 200px;
}

#check:checked~content {
	margin-left: 250px;
}

content {
	transition: all .4s;
}
